body{
    background-image: linear-gradient(-45deg, rgb(11, 65, 78), black);
    margin: 0;
    background-size: 300%, 300%;
    overflow: hidden;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Quicksand', sans-serif;
    animation: gradient 10s ease infinite;
}
button{
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    
}
.header{
    width: 50vw;
    text-align: center;
    font-size: 80px;
    background-color: black;
    border: solid white;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.playButtonBox{
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    font-size: large;
    text-align: center;
    top: 50%;
}
.startButton {
	background: black;
  	font-size: 25px;
    	line-height: 110px;
	border-radius: 50%;
	margin: 10px;
	height: 125px;
	width: 125px;
    	border: solid white 1px;
	box-shadow: 0 0 0 0 rgb(0, 0, 0);
	transform: scale(1);
	animation: pulse 2s infinite;
}
.startButton button{
    font-size: 30px;
}

.elementToFadeOut{
    animation: fadeOut 1s linear forwards;
}
.gameArea{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    align-items: center;
    width: 100vw;
}

.mainText{
    font-size: 25px;
    text-align: center;
}

.playBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.playerOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playerOptions img{
    max-width: 100%;
    height: auto;
}
.gameResults{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    border: solid white;
    border-radius: 5px;
    width: 50%; 
    height: 50%;
}
.roundResults, .playerScoreCounter, .compScoreCounter{
    text-align: center;
}

button:hover{
    transition: 0.5s;
    transform:scale(1.1);
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 179, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

@keyframes fadeOut{
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
        display: none;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
